@tailwind base;
@tailwind components;
@tailwind utilities;

/* Carousel Animation */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: calc(100% + 20px); /* Adjust based on number of items */
    animation: slide 15s linear infinite;
}

.carousel-item {
    margin-right: 20px; /* Space between items */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
